<div class="site-head-inner site-container">
    <div class="site-container-sm">
        <div class="site-head-row">

            <!-- Menu top -->
            <div id="siteHeadCol2" class="site-head-col text-right">
                <div class="site-nav-container site-container hidden-sm hidden-xs">
                    <nav id="siteMainNav">
                        <ul class="clear-list">
                            <li id="menu-item-148"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90 current_page_item menu-item-148">
                                <a href="#">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
